.new-journey {
  background: white;
  padding: 8px 12px;

  .active-steps-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;

    .active-step {
      padding: 8px 12px;
      margin-right: 20px;
      background: #edeeee;
      font-size: 16px;

      &:last-of-type{
        margin-right: 0;
      }

      &--active {
        background: aliceblue;
      }
    }
  }

  .steps-pilot {
    display: flex;
    justify-content: center;
    align-items: center;

    > button {
      margin-right: 10px;
    }
  }
}
