.chart {
  height: 300px;
}

.slaCell {
  position: relative;
  margin-bottom: 20px;
  background-color: #fff;

  &.visualizationCell {
      display: block;
  }

  &.violation{
    background-color: #e65a5a;
  }
}

.skeletonContainer {
  display: contents;
}

.largeDataPoint {
  margin-top: 13px;
  position: relative;

  &.skeleton {

      .value,
      .label {
          display: block;
          background-size: 190%;
          background-image: linear-gradient(to left, #edeeee, #f4f5f5 40%, #edeeee);
          border-radius: 2px;
          animation: loading .75s ease-in-out infinite;
          animation-direction: reverse;
      }

      .value {
          width: 50px;
          height: 19px;
          margin-bottom: 5px;
      }

      .label {
          height: 12px;
          width: 65px;
      }
  }

  .value {
      margin-bottom: 1px;
      font-family: 'fira sans';
      font-size: 1.5em;
      font-weight: normal;
      line-height: 1em;
      color: #000E0E;
  }

  .label {
      font-size: 1em;
      color: #464E4E;
  }
}