.chart {
  height: 200px;
}

.slaCell {
  position: relative;
  margin-bottom: 20px;
  background-color: #fff;

  .chartName {
    text-transform: none;
    font-size: 16px;
  }

  &.visualizationCell {
      display: block;
  }

}

.slaCell.violation {
  .chartName {
    color: #BF0015;
  }

  .currentValueContainer {
    border-color: #BF0015;
    background-color: #fcf2f3;
  }

  .slaValueContainer {
    border-color: #BF0015;
  }

  .currentValue {
    color: #BF0015;
    font-weight: 600;
  }

  .currentLabel {
    color: #BF0015;
  }

  .slaComparisonIcon {
    box-shadow: none;
    background-color: transparent;
  }

  .slaComparisonIcon:after {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background-color: #fff;
    position: absolute;
    z-index: -1;
    top: 2px;
    left: 1px;
    border-radius: 100%;
  }
}

.skeletonContainer {
  display: contents;
}

.largeDataPoint {
  margin-top: 13px;
  position: relative;

  &.skeleton {

      .value,
      .label {
          display: block;
          background-size: 190%;
          background-image: linear-gradient(to left, #edeeee, #f4f5f5 40%, #edeeee);
          border-radius: 2px;
          animation: loading .75s ease-in-out infinite;
          animation-direction: reverse;
      }

      .value {
          width: 50px;
          height: 19px;
          margin-bottom: 5px;
      }

      .label {
          height: 12px;
          width: 65px;
      }
  }

  .value {
      margin-bottom: 1px;
      font-family: 'fira sans';
      font-size: 1.5em;
      font-weight: normal;
      line-height: 1em;
      color: #000E0E;
  }

  .label {
      font-size: 1em;
      color: #464E4E;
  }
}

.slaComparisonContainer {
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
}

.slaComparisonItem {
  display: inline-flex;
  flex-direction: column;
  min-width: 140px;
  height: 70px;
  justify-content: center;
  align-items: center;
  margin-right: -1px;
  margin-bottom: 0;
  border: 1px solid #E3E4E4;
}

.slaComparisonItemValue {
  font-family: 'fira sans';
  font-weight: 400;
  font-size: 24px;
  color: #000D0D;
  margin-bottom: 6px;
}

.slaComparisonItemLabel {
  font-size: 10px;
  color: #464E4E;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0;
  line-height: 11px;
}

.slaComparisonIcon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-43%, -58%);
  box-shadow: 0 2px 0 5px #fff;
  background-color: #fff;
}

.slasHeader {
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #edeeee;
  margin-left: 30px;
}

.slaValue {
  color: #8E9494;
}

